
__MACOSX/._Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies
__MACOSX/._Robust Team
__MACOSX/Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/._conclusion.tex
__MACOSX/Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/._contribution.tex
__MACOSX/Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/._demo.tex
__MACOSX/Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/._intro.tex
__MACOSX/Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/._main.tex
__MACOSX/Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/._ontariotechu-thesis.cls
__MACOSX/Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/._system.tex
__MACOSX/Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/._thesis.bib
__MACOSX/Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/figs/._abcOD.png
__MACOSX/Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/figs/._algorithm.png
__MACOSX/Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/figs/._ascending.png
__MACOSX/Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/figs/._auto_repair.png
__MACOSX/Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/figs/._auto_repair_suggestion.png
__MACOSX/Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/figs/._demo.tex
__MACOSX/Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/figs/._descending.png
__MACOSX/Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/figs/._manual_repair.png
__MACOSX/Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/figs/._manual_repair_suggestion.png
__MACOSX/Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/figs/._menu.png
__MACOSX/Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/figs/._result.png
__MACOSX/Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/figs/._toy_example.png
__MACOSX/Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/figs/._Untitled.jpg
__MACOSX/Robust Team/._ACM-Reference-Format.bbx
__MACOSX/Robust Team/._ACM-Reference-Format.bst
__MACOSX/Robust Team/._ACM-Reference-Format.cbx
__MACOSX/Robust Team/._ACM-Reference-Format.dbx
__MACOSX/Robust Team/._acmart.bib
__MACOSX/Robust Team/._acmart.cls
__MACOSX/Robust Team/._acmguide.pdf
__MACOSX/Robust Team/._BigDataFramework.pdf
__MACOSX/Robust Team/._distrib-diagram.pdf
__MACOSX/Robust Team/._example.png
__MACOSX/Robust Team/._exampleold.png
__MACOSX/Robust Team/._FirstPage.pdf
__MACOSX/Robust Team/._Motivationold.pdf
__MACOSX/Robust Team/._rare-expert-accuracy.png
__MACOSX/Robust Team/._rdd-colocation.png
__MACOSX/Robust Team/._README
__MACOSX/Robust Team/._sample-bibliography.bib
__MACOSX/Robust Team/._sample-sigconf.tex
__MACOSX/Robust Team/._Scalability.pdf
__MACOSX/Robust Team/._Screen_1.png
*.zip
Code/__MACOSX/._Code
Code/__MACOSX/Code/._.DS_Store
Code/__MACOSX/Code/._GraphEmbedding.java
Code/__MACOSX/Code/._MainWWW.java
Code/__MACOSX/Code/._RWR.java
Code/__MACOSX/Code/._ShortestDiameter.java
Code/__MACOSX/Code/._ShortestPath.java
Code/__MACOSX/Code/._SmallestEmbedding.java
Code/__MACOSX/Code/._Team.java
Code/__MACOSX/Code/._TwoHop.java
Code/__MACOSX/Code/._TwoHopOperations.java
Code/Code/.DS_Store
Code/Code/.vscode/launch.json
Code/Code/GraphEmbedding.java
Code/Code/MainWWW.java
Code/Code/RWR.java
Code/Code/ShortestDiameter.java
Code/Code/ShortestPath.java
Code/Code/SmallestEmbedding.java
Code/Code/Team.java
Code/Code/TwoHop.java
Code/Code/TwoHopOperations.java
Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/conclusion.tex
Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/contribution.tex
Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/demo.tex
Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/figs/abcOD.png
Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/figs/algorithm.png
Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/figs/ascending.png
Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/figs/auto_repair.png
Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/figs/auto_repair_suggestion.png
Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/figs/demo.tex
Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/figs/descending.png
Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/figs/manual_repair.png
Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/figs/manual_repair_suggestion.png
Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/figs/menu.png
Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/figs/result.png
Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/figs/toy_example.png
Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/figs/Untitled.jpg
Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/intro.tex
Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/main.tex
Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/ontariotechu-thesis.cls
Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/system.tex
Curating%20Data%20with%20Approximate%20Band%20Conditional%20Order%20Dependencies/thesis.bib
Robust Team/Screen_1.png
Robust Team/Scalability.pdf
Robust Team/sample-sigconf.tex
Robust Team/sample-bibliography.bib
Robust Team/README
Robust Team/rdd-colocation.png
Robust Team/rare-expert-accuracy.png
Robust Team/Motivationold.pdf
Robust Team/FirstPage.pdf
Robust Team/exampleold.png
Robust Team/example.png
Robust Team/distrib-diagram.pdf
Robust Team/BigDataFramework.pdf
Robust Team/acmguide.pdf
Robust Team/acmart.cls
Robust Team/acmart.bib
Robust Team/ACM-Reference-Format.dbx
Robust Team/ACM-Reference-Format.cbx
Robust Team/ACM-Reference-Format.bst
Robust Team/ACM-Reference-Format.bbx
dataDiscovery/abcod/
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/.classpath
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/.DS_Store
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/.project
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/.settings/.jsdtscope
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/.settings/org.eclipse.jdt.core.prefs
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/.settings/org.eclipse.wst.common.component
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/.settings/org.eclipse.wst.common.project.facet.core.xml
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/.settings/org.eclipse.wst.jsdt.ui.superType.container
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/.settings/org.eclipse.wst.jsdt.ui.superType.name
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/build/.DS_Store
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/build/classes/ExpertGraph.class
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/build/classes/Getinput.class
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/build/classes/GraphEmbedding.class
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/build/classes/Hybrid.class
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/build/classes/MyListener.class
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/build/classes/Pair.class
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/build/classes/RWR.class
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/build/classes/ShortestPath.class
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/build/classes/ShowResults.class
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/build/classes/SmallestEmbedding.class
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/build/classes/Team.class
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/build/classes/TestOne.class
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/build/classes/TwoHop.class
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/build/classes/Validate.class
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/datasets/2HopCoverDist.txt
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/datasets/SC_authorHIndex.txt
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/datasets/SC_authorNameId.txt
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/datasets/SC_G1.txt
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/datasets/SC_invertedTermCount.txt
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/datasets/SC_invertedTermMap.txt
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/src/ExpertGraph.java
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/src/Getinput.java
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/src/GraphEmbedding.java
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/src/Hybrid.java
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/src/MyListener.java
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/src/Pair.java
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/src/RWR.java
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/src/ShortestPath.java
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/src/ShowResults.java
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/src/SmallestEmbedding.java
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/src/Team.java
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/src/TestOne.java
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/src/TwoHop.java
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/src/Validate.java
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/.DS_Store
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/images/ui-icons_444444_256x240.png
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/images/ui-icons_555555_256x240.png
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/images/ui-icons_777620_256x240.png
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/images/ui-icons_777777_256x240.png
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/images/ui-icons_cc0000_256x240.png
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/images/ui-icons_ffffff_256x240.png
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/input.jsp
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/javascripts/.DS_Store
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/javascripts/GenerateTeamDisplay.js
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/javascripts/jquery-ui.js
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/javascripts/jquery.js
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/javascripts/node_modules/.yarn-integrity
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/javascripts/node_modules/viz.js/full.render.js
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/javascripts/node_modules/viz.js/LICENSE
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/javascripts/node_modules/viz.js/lite.render.js
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/javascripts/node_modules/viz.js/package.json
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/javascripts/node_modules/viz.js/README.md
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/javascripts/node_modules/viz.js/test.js
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/javascripts/node_modules/viz.js/viz.js
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/javascripts/TeamScore.js
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/jquery-ui.css
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/META-INF/MANIFEST.MF
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/styles/InputInfoForm.css
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/WEB-INF/datasets/2HopCoverDist.txt
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/WEB-INF/datasets/SC_authorHIndex.txt
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/WEB-INF/datasets/SC_authorNameId.txt
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/WEB-INF/datasets/SC_G1.txt
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/WEB-INF/datasets/SC_invertedTermCount.txt
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/WEB-INF/datasets/SC_invertedTermMap.txt
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/WEB-INF/jsp/.DS_Store
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/WEB-INF/jsp/result.jsp
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/WEB-INF/lib/colt-1.0.3.jar
TeamFormation-demo/TeamFormation-old/TeamFormation-demo/WebContent/WEB-INF/web.xml
IEEE-citation-guide.pdf
docker.deb
