.styled-button-5 {
	background-color:#ed8223;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:18px;
	line-height:30px;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border:0;
	text-shadow:#C17C3A 0 -1px 0;
	width:120px;
	height:32px
} 
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
} 


body{
	background: grey;
	
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}  
table, th, td {
  border-collapse: collapse;
}     

#formId:nth-child(1){
	background: white;
	border: 1px solid black;
	border-radius: 5px;
	margin: 15px;
	padding: 30px;
}

#expertNetwork{
	width: auto;
	border: 1px solid black;
  	border-radius: 5px;
	margin: 15px;
	padding: 15px;
	text-align: center;
}

#expertNetwork > *{
	margin: 15px;
	padding: 15px;
	width: auto;
}

#projectSkillNeeds{
	border: 1px solid black;
  	border-radius: 5px;
	margin: 15px;
	padding: 15px;
}

#projectSkillNeeds > * {
	margin: 15px;
	padding: 15px;
	width: auto;
	text-align: center;
	
}

#sampleid{
	width: 15rem;
}

#kTeams{
	width: auto;
	border: 1px solid black;
  	border-radius: 5px;
	margin: 15px;
	padding: 15px;
	text-align: center;
}

#kTeams > * {
	margin: 15px;
	padding: 15px;
	width: auto;	
}

#K-Selection{
	text-align: center;
}

#teamGenMethod{
	width: auto;
	border: 1px solid black;
  	border-radius: 5px;
	margin: 15px;
	padding: 15px;
	text-align: center;
}

#teamGenMethod > * {
	margin: 15px;
	padding: 15px;
	width: auto;
	
}

#header{
	border: 1px solid black;
  	border-radius: 5px;
	margin: 15px;
	background: white;
}

h3 {
    height: 100%;
    vertical-align: bottom;
    display:table-cell;
}

h1 {
	text-align: center;
}

#BasicInfo{
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}














